@* @model TeacherManagementSystem.Models.Subject
<input type="hidden" id="subjectId" value="@Model?.Id" />
<div class="mb-3">
    <label class="form-label">Subject Name</label>
    <input type="text"
        class="form-control"
        id="subjectName"
        name="Name"
        value="@Model?.Name"
        placeholder="Enter Subject Name" />
</div>
<div class="mb-3">
    <label class="form-label">Subject Code</label>
    <input type="number"
        class="form-control"
        id="subjectCode"
        name="Code"
        value="@Model?.Code"
        placeholder="Enter the Subject Code" />
</div> *@