<input type="hidden" id="hiddenTeacherId" value="0">
<div class="mb-3">
    <label>Teacher Name</label>
    <input type="text"
           id="teacherName"
           name="Name"
           placeholder="Enter Your Name"
           class="form-control">

</div>
<div class="mb-3">
    <label>Email</label>
    <input type="email"
           name="Email"
           placeholder="Enter Your Email"
           class="form-control">
</div>
<div class="mb-3">
    <label>Subject</label>
    <select id="ddlSubject" class="form-control"></select>
</div>
<button type="button"
        class="btn btn-primary"
        id="btnSaveTeacher">
    Save Teacher
</button>
<button type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal">
    Cancel
</button>