<h1>👨‍🏫Teacher Portal</h1>
<button id="btnAddTeacher" class="btn btn-primary mb-2">
    Add Teacher
</button>
<div id="teacherTableContainer"></div>
<!--Modal-->
<div class="modal fade" id="teacherModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teacherModalTitle">Add Teacher/Edit Teacher</h5>
                <button type="button"  class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="teacherModalBody"></div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        $(document).ready(function () {

            // INITIAL LOAD
            loadTeachers();


            // ADD TEACHER
            $(document).on("click", "#btnAddTeacher", function () {
                $("#teacherModalTitle").text("Add Teacher");

                $.get("/Teacher/LoadForm", function (html) {

                    $("#teacherModalBody").html(html);
                    $("#btnSaveTeacher").data("url","/Teacher/AddTeacher");

                    loadSubjectDropdown(0, 0);


                    $("#teacherModal").modal("show");

                });

            });


            // SAVE TEACHER
            $(document).on("click", "#btnSaveTeacher", function () {

                var $btn = $(this);
                if ($btn.prop("disabled")) return;

                let formData = {
                    Id: $("#hiddenTeacherId").val(),
                    Name: $("input[name='Name']").val(),
                    Email: $("input[name='Email']").val(),
                    SubjectId: $("#ddlSubject").val()
                };
                if(!formData.Name||!formData.Email||!formData.SubjectId){
                    alert("Please fill all required fields.");
                    return;
                }
                var url=$btn.data("url");
                $btn.prop("disabled", true);

                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    success: function () {

                        $("#teacherModal").modal("hide");
                        loadTeachers();

                        $btn.prop("disabled", false);
                    },
                    error: function (xhr) {

                        alert(xhr.responseText);
                        $btn.prop("disabled", false);
                    }
                });

            });


            // EDIT TEACHER
            $(document).on("click", ".btn-edit", function () {

                let id = $(this).data("id");

                $.get("/Teacher/LoadEditForm", {id: id}, function (html) {

                    $("#teacherModalBody").html(html);

                    var teacherId =
                        parseInt($("#hiddenTeacherId").val());

                    var selectedSubjectId =
                        parseInt($("#hiddenSubjectId").val());

                        $("#btnSaveTeacher").data("url","/Teacher/UpdateTeacher");
                    // pass both ids
                    loadSubjectDropdown(selectedSubjectId, teacherId);

                    $("#teacherModal").modal("show");

                });

            });


            // DELETE TEACHER
            $(document).on("click", ".btn-teacher-delete", function () {

                var id = $(this).data("id");

                if (!confirm("Delete this teacher?")) return;

                $.post("/Teacher/Delete", { id: id }, function () {
                    loadTeachers();
                });

            });

        });


        
        // LOAD TEACHER TABLE
        function loadTeachers() {

            $.get("/Teacher/LoadTeachers", function (html) {
                $("#teacherTableContainer").html(html);
            });

        }


     
        // LOAD FILTERED SUBJECT DROPDOWN
       
        function loadSubjectDropdown(selectedId, teacherId) {
            console.log("DDL FOUND:", $("#ddlSubject").length);
           

            $.get("/Subject/GetAvailableSubjects?teacherId=" + teacherId,
                function (data) {

                var ddl = $("#ddlSubject");
                ddl.empty();

                ddl.append('<option value="">Select Subject</option>');

                $.each(data, function (i, item) {

                    var selected =
                        (item.id === selectedId) ? "selected" : "";

                    ddl.append(
                        `<option value="${item.id}" ${selected}>
                            ${item.names}
                         </option>`
                    );
                     console.log("SUBJECT API DATA:", data);
                });

            });
        }

    </script>
}

