  @* <div class="container-fluid">
      <div class="mb-3">
          <button id="btnLoadSubject" class="btn btn-primary me-2">Subject Module</button>
          <button id="btnLoadTeacher" class="btn btn-success">Teacher Module</button>
      </div>
      <div id="mainContent">

      </div>
  </div>
  @section scripts{
      <script>
          $(function(){
              loadSubjectModule();
              $("#btnLoadSubject").on("click",function(){
                  loadSubjectModule();
              });
                $("#btnLoadTeacher").on("click",function(){
                    loadTeacherModule();
              });
          });
          function loadSubjectModule(){
              $("#mainContent").load("Subject/Index");
          }
            function loadTeacherModule(){
                $("#mainContent").load("Teacher/Index");
          }
      </script>
  } *@